body {
	-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
	margin: 0px;
	background: #373737;
	font-family: "Tahoma";
	font-size: 11px;
	text-shadow: 0px -1px 0px black;
	color: #888888;
	overflow: none;
	overflow-y: hidden;
}
*::x-spotify-tabbar-tab {
	border-right: 1px solid rgba(0, 0, 0, 0.4);
	width: 80px;
	height: 28px;
	text-align: center;
	cursor: default;
}
::x-spotify-listview {

}
::x-spotify-list-item:active {
	background: #5d5d5d;
}
* {
	box-sizing: border-box;
}
::x-spotify-list-item {
	padding-top: 2px;
	height: 15px;
	width: 100%;
	position: relative;
	text-shadow: none;
	cursor: default;

}
::x-spotify-list-item-title {
	text-shadow: none;
	margin-right: 3px;
	color: rgba(255, 255, 255, .6);
	cursor: default;

}
::x-spotify-list-item .icon {
	width: 16px;
	height: 16px;
	float: left;
}
::x-spotify-list-item[data-selected='true'] {
	background: rgba(169, 217, 254, 1);

}

::x-spotify-list-item-subtitle {
	color: rgba(255, 255, 255, 0.250);
	text-shadow: none;
}
::x-spotify-tabbar-tab[data-active='true'] {
	background-image: linear-gradient(bottom, #373737 39%, rgb(71,71,71) 100%);
background-image: -o-linear-gradient(bottom, #373737 39%, rgb(71,71,71) 100%);
background-image: -moz-linear-gradient(bottom, #373737 39%, rgb(71,71,71) 100%);
background-image: -webkit-linear-gradient(bottom, #373737 39%, rgb(71,71,71) 100%);
background-image: -ms-linear-gradient(bottom, #373737 39%, rgb(71,71,71) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.39, rgb(55,55,55)),
	color-stop(1, rgb(71,71,71))
);
	border-radius: 2px 2px 0px 0px;
	box-shadow:inset 0px 2px 1px black;
	height: 29px;
}

*::x-spotify-view {
	display: none;
}

*::x-spotify-view {
	position:absolute;
	left: 165px;
	top: 56px;
	width: calc(100% - 164px);
	height: calc(100% - 600px - 600px);
}
::x-spotify-view[data-visible='true'] {
	display: block;
}
::x-spotify-page {
	display: none;
}
::x-spotify-page[data-active='true'] {
	display: block;
}

*::x-spotify-tabbar {
	border-bottom: 1px solid rgba(0,0, 0, .5);
	height: 24px;
	overflow: hidden;
	background: rgba(80, 80, 80, 1);
	color: rgba(255, 255, 255, 0.9);
	font-weight: bold;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, .5);
}
*::x-spotify-menu {
	background-color: #474747;
	width: 164px;
	height: 100%;
	top: 56px;
	position: absolute;
	height: calc(100% - 56px);
	border-right: 1px solid rgba(0, 0, 0, .8);
	overflow: hidden;
}
::x-spotify-header {
	top: 0px;
	position: absolute;
	height: 56px;
	width: 100%;
background: url('../img/header.png');
}
::x-spotify-footer {
	background: url('../img/footer.png');
	height: 41px;
	bottom: 0px;
	width: 100%;
	position: absolute;
}

::x-spotify-icon.icon {
	background: url('../img/icons.png');
	background-left: 0px;
}
::x-spotify-icon[data-selected='true'] {
	background-left: 12px;
}
::x-spotify-icon.icon-home {
	background-top: 0px;
}
::x-spotify-icon.icon-queue {
	background-top: 12px;
}
::x-spotify-list-item-title[data-selected='true'] {
	color: #003344;
}