<element name="sp-view-internal" attributes="uri title id" extends="sp-view">
  <script>
    // When <element> is in document, might run in wrong context.
    // Only do work when this == <element>.
   
    Polymer.register(this, {
      title: 'Undefined view',
      uri: 'spotify:undefined',
      init: function (uri) {
      	console.log(uri);
      	var app = uri.split(':')[2];
      	
      	if(app === 'whatsnew') {
	      	var page = document.createElement('sp-page-whatsnew');
	      	page.title = "What's New";
	      	page.id = 'overview';
	      	page.active = true;
	      	this.addPage(page);
	    }
	    if(app === 'toplist') {
	    	var page = document.createElement('sp-page-toplist');
	      	page.title = "Top List";
	      	page.id = 'overview';
	      	page.active = true;
	      	this.addPage(page);
	    }
      },
      ready: function () {

      }
    });
  </script>
</element>