<element name="sp-view-internal" attributes="uri title id" extends="sp-view">
  <script>
    // When <element> is in document, might run in wrong context.
    // Only do work when this == <element>.
   
    Polymer.register(this, {
      title: 'Undefined view',
      uri: 'spotify:undefined',
      init: function (uri) {
      	console.log(uri);
      	var page = document.createElement('sp-page');
      	page.title = 'Overview';
      	page.id = 'overview';
      	page.active = false;
      	var span = document.createElement('span');
      
      	span.appendChild(document.createTextNode('a'));
      	page.appendChild(span);
      	console.log(page);
      	this.addPage(page);
      	console.log('Page added?');

      	var page2 = document.createElement('sp-page');
      	page2.title = 'Overview2';
      	page2.id = 'overview2';
      	var span2 = document.createElement('span');
      
      	span2.appendChild(document.createTextNode('a2'));
      	page2.appendChild(span2);
      	console.log(page2);
      	this.addPage(page2);
      	console.log('Page added?');
      },
      ready: function () {

      }
    });
  </script>
</element>