<element name="sp-view-internal" attributes="uri title id" extends="sp-view">
  <script>
    // When <element> is in document, might run in wrong context.
    // Only do work when this == <element>.
   
    Polymer.register(this, {
      title: 'Undefined view',
      uri: 'spotify:undefined',
      init: function () {

      	var page = document.createElement('sp-page');
      	page.title = 'Overview';
      	page.id = 'overview';
      	page.innerHTML = "Hello world";
      	console.log(page);
      	this.addPage(page);
      	console.log('Page added?');
      },
      ready: function () {

      }
    });
  </script>
</element>